name: 'Maven Build and Deploy'

on:
  workflow_dispatch:
    inputs:
      java-version:
        description: 'Java version to use'
        required: false
        default: '25'
        type: string
      distribution:
        description: 'Java distribution to use'
        required: false
        default: 'temurin'
        type: string
      maven-options:
        description: 'Additional Maven options'
        required: false
        default: '-T 2C'
        type: string
      working-directory:
        description: 'Working directory for the Maven project'
        required: false
        default: '.'
        type: string
      skip-tests:
        description: 'Skip running tests'
        required: false
        default: true
        type: boolean
      maven-username:
        description: 'Maven repository username'
        required: false
        default: 'cnb'
        type: string
      server-id:
        description: 'Maven server ID for repository'
        required: false
        default: 'lunarstra-quantum'
        type: string
      repository-url:
        description: 'Repository URL'
        required: false
        default: 'https://maven.cnb.cool/lunarstra/Quantum/-/packages/'
        type: string
      profile-id:
        description: 'Maven profile ID for repository'
        required: false
        default: 'lunarstra-quantum'
        type: string
      repository-path:
        description: 'Maven repository username'
        required: false
        default: 'QuantumTop/quantum-gateway'
        type: string
  workflow_call:
    inputs:
      java-version:
        description: 'Java version to use'
        required: false
        default: '25'
        type: string
      distribution:
        description: 'Java distribution to use'
        required: false
        default: 'temurin'
        type: string
      maven-options:
        description: 'Additional Maven options'
        required: false
        default: '-T 2C'
        type: string
      working-directory:
        description: 'Working directory for the Maven project'
        required: false
        default: '.'
        type: string
      server-id:
        description: 'Maven server ID for repository'
        required: false
        default: 'lunarstra-quantum'
        type: string
      repository-url:
        description: 'Repository URL'
        required: false
        default: 'https://maven.cnb.cool/lunarstra/Quantum/-/packages/'
        type: string
      profile-id:
        description: 'Maven profile ID for repository'
        required: false
        default: 'lunarstra-quantum'
        type: string
      skip-tests:
        description: 'Skip running tests'
        required: false
        default: true
        type: boolean
      maven-username:
        description: 'Maven repository username'
        required: false
        default: 'cnb'
        type: string
      repository-path:
        description: 'Maven repository username'
        required: false
        default: 'QuantumTop/quantum-gateway'
        type: string
    secrets:
      MAVEN_TOKEN:
        description: 'Maven repository authentication token'
        required: true
    outputs:
      artifact-version:
        description: 'Version of the deployed artifact'
        value: ${{ jobs.build-deploy.outputs.version }}

jobs:
  quantum-parent-deploy:
    uses: QuantumTop/quantum-parent/.github/workflows/maven-build-deploy.yml@main
    with:
      java-version: ${{ inputs.java-version }}
      distribution: ${{ inputs.distribution }}
      maven-options: ${{ inputs.maven-options }}
      working-directory: ${{ inputs.working-directory }}
      skip-tests: ${{ inputs.skip-tests }}
      maven-username: ${{ inputs.maven-username }}
      server-id: ${{ inputs.server-id }}
      repository-url: ${{ inputs.repository-url }}
      profile-id: ${{ inputs.profile-id }}
    secrets:
      MAVEN_TOKEN: ${{ secrets.MAVEN_TOKEN }}

  quantum-common-deploy:
    needs: quantum-parent-deploy
    uses: QuantumTop/quantum-common/.github/workflows/maven-build-deploy.yml@main
    with:
      java-version: ${{ inputs.java-version }}
      distribution: ${{ inputs.distribution }}
      maven-options: ${{ inputs.maven-options }}
      working-directory: ${{ inputs.working-directory }}
      skip-tests: ${{ inputs.skip-tests }}
      maven-username: ${{ inputs.maven-username }}
      server-id: ${{ inputs.server-id }}
      repository-url: ${{ inputs.repository-url }}
      profile-id: ${{ inputs.profile-id }}
    secrets:
      MAVEN_TOKEN: ${{ secrets.MAVEN_TOKEN }}
  build-and-push-single-images:
    runs-on: ubuntu-latest
    needs:
      - quantum-parent-deploy
      - quantum-common-deploy
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: chmod
        run: chmod +x ./mvnw

      - name: Build quantum modules
        run: |
          ./mvnw clean package -Dmaven.test.skip=true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata for gateway image
        id: meta-gateway
        uses: docker/metadata-action@v5
        with:
          images: gyyst/quantum-gateway
          tags: |
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=${{ github.event.inputs.tag || 'dev' }}
            type=sha

      - name: Build and push gateway image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./deploey/build/quantum-gateway.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta-gateway.outputs.tags }}
          labels: ${{ steps.meta-gateway.outputs.labels }}
          build-args: |
            AES_ENCRYPTION_KEY=${{ secrets.AES_ENCRYPTION_KEY }}
